//- html 
//- html 
//- head 
//- body 
//- form(action = "/", method = "POST")
//- div 
//- label (for = "say") say: 
//- input(name = "say" value = "Hi")
//- br
//- div 
//- label (for = "to") To: 
//- input(name = "to" value = "Express forms")
//- br 
//- button (type = "submit") send my greetings

html 
    head
        title = title 
    body 
        hi = message 
    body 
    head 
html